.nav-header {
  background-color: rgb(112, 196, 200);
  height: 70px;
  display: flex;
  align-items: center; 
  border-bottom: 3px solid #837b7b2d;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.input-search-block {
  display: flex;
  align-items: center;
  position: relative;
}
input { 
  overflow: visible;
}

search-glass {
  position: absolute;
  right: 5px;
  top: 6px;
}

@media (max-width: 700px) {
  .nav-header {
    display: block;
  }
  .input-search-block {
    margin-left: 50px;
    margin-top: 30px;
  }

  search-glass {
  position: relative;
  right: 35px;
  top: 6px;
  }
  .nav-header {
    height: 110px;
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .nav-header {
    margin-left: -30px; 
  }
}