.post-image {
  width: 90%;
  height: 80px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}

@media (min-width: 1200px) {
  .post-image {
    height: 100px;
  }
}
@media (max-width: 750px) {
  .post-image {
    width: 100%;
    height: 110px;
  }
}